#share {
	width: 100%;
	background:url('../../../../assets/image/index/bg_h5.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	box-sizing: border-box;
}
.w596{
	width: 5.96rem;
	margin: 0 auto;
}
.b-b-d{
	border-bottom:1px solid rgba(255,255,255,.5)
}
.h195{
	height: 1.95rem;
	border-top:1px solid rgba(255,255,255,.5)
}
.bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.w130h130{
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
	background: #fff;
}
.color_ff{
	color: #fff;
}
.color_FFF600{
	color:#FFF600;
}
.w60h60{
	width: .6rem;
	height: .6rem;
	border-radius: 50%;
	border: 3px solid #fff;
}
.w359h167{
	width: 3.59rem;
	height: 1.67rem;
	position: absolute;
	top: .35rem;
	left: -.42rem;
}
.w75h72{
	width: .75rem;
	height: .72rem;
}
.w185h185{
	width: 1.85rem;
	height: 1.85rem;
}
.w34h34{
	width: .34rem;
	height: .34rem;
}
.w334h568{
	width: 3.34rem;
	height: 5.68rem;
	position: absolute;
	right: 0;
	bottom: 0
}
.flex_box{
	display: flex;
	flex: 1
}
.w460{
	width: 4.6rem;
}