#getGoods{
	width: 100%;
	max-width: 7.5rem;
	margin: 0 auto;
	position: relative;
	background: #F2F2F2;
}
.bg_ff{
	background: #fff;
}
.input_box{
	width: 6.8rem;
	height: .9rem;
	margin: 0 auto .3rem;
}
.input_box_intput{
	border:1px solid rgba(226, 226, 226, 1);
	border-radius:.14rem;
}
.seatching{
	font-size: .3rem;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -1.9rem;
}
.h208{
	height: 2.08rem;
}
.w112h112{
	width: 1.12rem;
	height: 1.12rem;
}
.color_FA846C{
	color: #FA846C
}
.label_price{
	width:.66rem;
	height:.36rem;
	font-size: .22rem;
	background:-webkit-linear-gradient(302deg, rgba(251,116,90,1), rgba(249,180,162,1));
	background:-o-linear-gradient(302deg, rgba(251,116,90,1), rgba(249,180,162,1));
	background:linear-gradient(32deg, rgba(251,116,90,1), rgba(249,180,162,1));
	border-radius:.06rem;
	text-align: center;
	line-height: .36rem;
	color:#fff;
}
.ft30{
	font-size: .3rem;
}
.index_money{
	font-family:PingFang-SC-Medium;
	font-weight:500;
	color:rgba(231,121,86,1);
}
.flex_warp{
	display: flex;
	flex-wrap: wrap;
}
.label_index{
	width:1rem;
	height:.46rem;
	background:rgba(241,249,251,1);
	border-radius:.06rem;
	text-align: center;
	line-height: .46rem;
	color: #999;
	font-size: .22rem;
	margin-right: .16rem;
}
.logo_img{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 1px solid rgb(226,226,226)
}
.top{
	width: .8rem;
	height: .8rem;
	position: absolute;
	right: 0;
	bottom:0;
}
.w680{
	width: 6.8rem;
	margin: 0 auto .25rem;
	border-radius: .14rem;
}
.color_99{
	color: #999;
}
.bg_ff{
	background: #fff;
}